name: Build App

on:
  workflow_call:

jobs:
  build:
    name: Build and Upload Pages Artifact
    runs-on: ubuntu-latest
    steps:
      - name: Setup NodeJS
        uses: actions/setup-node@v5
        with:
          node-version: 22.x

      - name: Setup GitHub Pages
        id: pagesSetup
        uses: actions/configure-pages@v5

      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          ref: ${{ github.ref }}

      - name: Install packages
        run: npm install

      - name: Build project
        run: npm run build-only
        env:
          APP_NAME: ${{ vars.APP_NAME }}
          VITE_APP_NAME: ${{ vars.APP_NAME }}
          APP_REPOSITORY: ${{ vars.APP_REPOSITORY }}
          APP_VERSION: ${{ vars.APP_VERSION }}
          SERVER_BASE_URI: ${{ steps.pagesSetup.outputs.base_path }}/

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: dist/