name: Deploy App

on:
  push:
    branches: [ master ]

jobs:
  test-build:
    name: Test Build and Type Check
    uses: ./.github/workflows/test.yaml

  build:
    name: Build and Upload Pages Artifact
    needs: test-build
    uses: ./.github/workflows/build.yaml

  deploy:
    name: Deploy to Pages
    needs: build
    permissions:
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Pages
        uses: actions/deploy-pages@v4